/*img {
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

/*this W3Schools page helped with the collapsables
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible*/

body {
  padding: 0;
  margin: 0;
  background-color: #b4c7c9;
  /*font-family: arial;*/
  font-family: 'Roboto', sans-serif;
}

.headline {
  font-family: 'Holtwood One SC', serif;
  color: #ffcc00;
}
.collapsible {
  position: relative;
  background-color: #777;
  color: white;
  cursor: pointer;
  height: 180px;
  width: 100%;
  border-bottom: 2px solid white;
  text-align: center;
  outline: none;
  font-size: 50px;
  font-weight: normal;
}
body > .collapsible:nth-of-type(1) {
  height: 250px;
  font-size: 80px;
  /*photo from https://www.ltandc.org/napo-wildlife-center-yasuni-national-park-ecuador/*/
  background-image: radial-gradient(rgba(0,0,0, .5) 20%, rgba(0,0,0,0)), url('../imagesFinal/yasuniBackgroundPC.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body > .collapsible:nth-of-type(2) {
  /*biodiversity5 from https://www.ltandc.org/napo-wildlife-center-yasuni-national-park-ecuador/*/
  background-image: radial-gradient(rgba(0,0,0, .5) 20%, rgba(0,0,0,0)), url('../imagesFinal/biodiversity5PC.jpg');
  /*biodiversity4 from https://phys.org/news/2014-02-peru-manu-national-biodiversity.html
  background-image: url('../images/biodiversity4.jpg');*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.collapsible:nth-of-type(3) {
  /*nativeGroups4 from https://www.smithsonianmag.com/travel/amazonian-rainforest-one-most-biodiverse-places-earth-180955364/*/
  background-image: radial-gradient(rgba(0,0,0, .5) 20%, rgba(0,0,0,0)), url('../imagesFinal/nativeGroups4PC.jpg');
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
}
.collapsible:nth-of-type(4) {
  /*oil3 from https://www.audubon.org/magazine/winter-2016/as-oil-companies-dig-yasuni-national-park*/
  background-image: radial-gradient(rgba(0,0,0, .5) 20%, rgba(0,0,0,0)), url('../imagesFinal/oil3PC.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.content .collapsible {
  background-color: #777;
  font-size: 1em;
  height: 80px;
}
@media (max-width: 700px) {
  body > .collapsible:nth-of-type(1) {
    background-image: radial-gradient(rgba(0,0,0, .5) 20%, rgba(0,0,0,0)), url('../imagesFinal/yasuniBackgroundPhone.jpg');
    font-size: 40px;
  }
  body > .collapsible {
    font-size: 30px;
  }
  body > .collapsible:nth-of-type(2) {
    background-image: radial-gradient(rgba(0,0,0, .5) 20%, rgba(0,0,0,0)), url('../imagesFinal/biodiversity5Phone.jpg');
  }
  .collapsible:nth-of-type(3) {
    background-image: radial-gradient(rgba(0,0,0, .5) 20%, rgba(0,0,0,0)), url('../imagesFinal/nativeGroups4Phone.jpg');
  }
  .collapsible:nth-of-type(4) {
    background-image: radial-gradient(rgba(0,0,0, .5) 20%, rgba(0,0,0,0)), url('../imagesFinal/oil3Phone.jpg');
  }
}

.active, .collapsible:hover {
  background-color: #555;
}

.content-wrapper {
  overflow: hidden;
  background-color: #182c09;
  max-height: 0;
  transition: max-height 0.2s ease-out; /*value should be 0.2s*/
  padding-left: 10%;
  padding-right: 10%;
}
.content-wrapper:nth-of-type(1) {
  max-height: inherit;
  transition: max-height 0.2s ease-in;
}

.content {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
  background-color: #aabe76;
  /*display: none;*/
  padding: 0 18px;
  padding-left: 5%;
  padding-right: 5%;
}
.content:nth-of-type(1) {
  /*change display property for if the Yasuni Park Overview should be shown*/
  /*display: none;*/
  /*font-size: 1.5em;*/
  /*max-height: inherit;*/
  /*transition: max-height 0.2s ease-in;*/
}
.content:nth-of-type(2) {
  background-color: #c9e2d3;
}
.content:nth-of-type(3) {
  background-color: #aee2c3;
}
.content:nth-of-type(4) {
  background-color: #74c192;
}
@media (max-width: 700px) {
  .content-wrapper {
    padding: 0;
  }
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content img {
  /*opacity: .2;*/
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.right {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}
.right_big_margin {
  margin-left: 40px;
  margin-right: 20px;
}
.left {
  float: left;
  margin-right: 20px;
  margin-left: 0px;
}
.left_big_margin {
  margin-right: 40px;
  margin-left: 20px;
}

.clear {
  clear: both;
}
.inline {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  margin-left: 2%;
  vertical-align: top;
}
.fifty {
  width: 50%;
}
@media (max-width: 700px) {
  .right {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .right_big_margin {
    margin-left: 0px;
    margin-right: 0px;
  }
  .left {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .left_big_margin {
    margin-left: 0px;
    margin-right: 0px;
  }
  .fifty {
    width: 100%;
  }
}

.verticalAlignContainer {
  display: flex;
  flex-direction: row-reverse;
}
.verticalAlign {
  flex: 0 1 auto;
  flex-shrink: 0;
  align-self: center;
  max-width: 50%;
}
.verticalAlignImage {
  flex: 1 1 auto;
  align-self: center;
  width: 50%;
}

/*.content .sub_content {
  background-color: #f9f9f9;
  border: 2px solid black;
  margin: 30px;
}
.content .sub_content p {
  margin-left: 20px;
  margin-right: 20px;
}
.content .sub_content .right {
  float: right;
  border: none;
  margin: 0px;
  margin-left: 20px;
}
.content .sub_content .left {
  float: left;
  border: none;
  margin: 0px;
  margin-right: 20px;
}*/


.content .references {
  font-size: 15;
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: white;
  margin-bottom: 50px;
}

p {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 700px) {
  p {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 0px;
    font-size: .8em;
    line-height: 1.4em;
  }
}
.sub_header {
  font-size: 1.3em;
  line-height: 2em;
  font-weight: bold;
}
