/*img {
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

/*this W3Schools page helped with the collapsables
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible*/

body {
  padding: 0;
  margin: 0;
  background-color: #b4c7c9;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    /*padding-top: 60px;
    padding-bottom: 60px;*/
    height: 180px;
    width: 100%;
    border-bottom: 2px solid white;

    text-align: center;
    outline: none;
    font-size: 50px;
    font-weight: normal;
}
body > .collapsible:nth-of-type(1) {
  height: 250px;
  /*photo from https://www.ltandc.org/napo-wildlife-center-yasuni-national-park-ecuador/*/
  background-image: url('../images/yasuniBackground.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body > .collapsible:nth-of-type(2) {
  /*biodiversity5 from https://www.ltandc.org/napo-wildlife-center-yasuni-national-park-ecuador/*/
  background-image: url('../images/biodiversity5.jpg');
  /*biodiversity4 from https://phys.org/news/2014-02-peru-manu-national-biodiversity.html
  background-image: url('../images/biodiversity4.jpg');*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.collapsible:nth-of-type(3) {
  /*nativeGroups4 from https://www.smithsonianmag.com/travel/amazonian-rainforest-one-most-biodiverse-places-earth-180955364/*/
  background-image: url('../images/nativeGroups4.jpg');
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
}
.collapsible:nth-of-type(4) {
  /*oil3 from https://www.audubon.org/magazine/winter-2016/as-oil-companies-dig-yasuni-national-park*/
  background-image: url('../images/oil3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.content .collapsible {
  background-color: #777;
  font-size: 1em;
  height: 80px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  font-size: 1.3em;
  padding: 0 18px;
  overflow: hidden;
  background-color: #94d3ac;
  /*display: none;*/
  max-height: 0;
  transition: max-height 0.9s ease-out; /*value should be 0.2s*/
}
.content:nth-of-type(1) {
  /*change display property for if the Yasuni Park Overview should be shown*/
  /*display: none;*/
  font-size: 1.5em;
  max-height: inherit;
  transition: max-height 0.9s ease-in;
}
.content:nth-of-type(2) {
  background-color: #c9e2d3;
}
.content:nth-of-type(3) {
  background-color: #aee2c3;
}
.content:nth-of-type(4) {
  background-color: #74c192;
}

.content img {
  /*opacity: .2;*/
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.right {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}
.right_big_margin {
  margin-left: 40px;
  margin-right: 20px;
}
.left {
  float: left;
  margin-right: 20px;
  margin-left: 0px;
}
.left_big_margin {
  margin-right: 40px;
  margin-left: 20px;
}
.clear {
  clear: both;
}
.fifty {
  width: 50%;
}

.content .sub_content {
  background-color: #f9f9f9;
  border: 2px solid black;
  margin: 30px;
}
.content .sub_content p {
  margin-left: 20px;
  margin-right: 20px;
}
.content .sub_content .right {
  float: right;
  border: none;
  margin: 0px;
  margin-left: 20px;
}
.content .sub_content .left {
  float: left;
  border: none;
  margin: 0px;
  margin-right: 20px;
}


.content .references {
    font-size: 15;
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: white;
    margin-bottom: 50px;
}

.sub_header {
  font-size: 1.3em;
  font-weight: bold;
}
