body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #606060;
  background-color: #f2f2f2;
}
.topp {
  margin: 0;
  padding-top: 60px;
  /*padding-bottom: 30px;*/
  padding-bottom: 170px;
  background-color: #e5e5e5;
  background-image: url("../images/blueberrypie.jpg");
  /*background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
}

.top {
  width: 100%;
  /*margin: 0;*/
  position: relative;
  text-align: center;
  margin:auto;
  padding:0;
  padding-top: 60px;
  height: 200px;
}
.top:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/blueberrypie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity : .5;
  z-index: -1;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 60px;
  font-weight: 700;
}

.center {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 50px;
  /*background-color: #0048a8;*/
  background-image: linear-gradient(
    to right,
    rgba(0, 72, 168, .5), rgba(0, 72, 168, .2)
  );
  /*border: 2px solid gray;*/
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  color: white;
}

.lighter {
  font-weight: lighter;
}

ul.horizontal {
  display: flex;
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  /*background-color: #333333;*/
}
.horizontal li {
  flex: 1;
  flex-grow: 1;
  float: left;
  /*background-color: white;*/
  text-align: center;
}
.horizontal li:first-of-type {
  border-right: 2px solid black;
}
.horizontal li:last-of-type {
  border-left: 2px solid black;
}

.container {
  display: block;
  margin: 0px;
  margin-left: 10%;
}

div.container img {
  width: 100px;
  float: right;
  margin-right: 20px;
}

div.container img.second {
  width: 150px;
}

ul.list, ol.list {
  /*margin-left: 10%;*/
  padding-left: 10px;
  margin-right: 10%;
  /*list-style-position: inside;*/
}
.list li {
  font-weight: bold;
  color: #ff6363;
  /*colors that look good --> dark gray = #292929, light red = #ff6363*/

  font-size: 1.5rem;
  margin-bottom: 15px;
  line-height: 15pt;
  /*text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);*/
  /*text-shadow: 16px 16px 4px rgba(150, 150, 150, 1);*/
}
.list li > p {
  display: inline;
  color: #606060;
  font-weight: normal;
  font-size: 1rem;
}

.headline > button {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;

  width: 250px;

}

.collapsible {
  border: none;
  border-radius: 20px;
  outline: none;
  /*padding: 5px 20px 5px 20px;*/
  padding-top: 5px;
  padding-bottom: 5px;

  color: white;

  /*background: white;
  background: -webkit-linear-gradient(to bottom right, yellow, rgb(255, 89, 89), rgb(0, 216, 255));
  background: -o-linear-gradient(to bottom right, yellow, rgb(255, 89, 89), rgb(0, 216, 255));
  background: -moz-linear-gradient(to bottom right, yellow, rgb(255, 89, 89), rgb(0, 216, 255));
  background: linear-gradient(to bottom right, yellow, rgb(255, 89, 89), rgb(0, 216, 255));*/

  display: block;
  margin: 0 auto;
}
.collapsible:nth-of-type(odd) {
  background: rgba(0, 72, 168, .5);
  border-radius: 5px;
}
.collapsible:nth-of-type(even) {
  background: rgb(255, 99, 99);
  border-radius: 5px;
}

.active {
  /*background: white;*/
  color: #606060;
  border: 2px solid #606060;
}
.collapsible:after {
  content: '\002B';
  font-weight: bold;
  /*float: right;*/
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.expanded {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: rgb(209, 209, 209);
  background-color: #f2f2f2;
}

.content {
  margin-top: 8px;
  background-color: #efefef;
  /*border: 2px solid rgb(0, 72, 168);*/
  border: 2px solid #292929;

  padding-left: 10px;
  padding-right: 10px;
}

.content > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}

footer ul {
  margin: 0px;
  margin-bottom: 15px;
  font-size: 12px;
  /*padding-left: 20px;*/
}
